.genre
  %p
    %strong=@genre.name
  %ul{:id => "album-list"}
    - @genre.albums.each do |a|
      %li
        = link_to(image_tag(a.thumb), url_for(:album, :artist => a.artist.slug, :album => a.slug))
        %span=link_to(a.name, url_for(:album, :artist => a.artist.slug, :album => a.slug))


