.genre
  %p
    %strong=@genre.name
  %ul{:id => "album-list"}
    - @genre.albums.each do |a|
      %li
        %a{:href => "#{album_url(a)}", :title => "#{a.name}"}
          = image_tag(a.thumb)
          %span=a.name

