%img#promotion{:alt => "MVC Store Featured", :src => "/images/home-showcase.png"}/
%h3
  %em Fresh
  off the grill
%ul#album-list
  %li
    %a{:href => "/Store/Details/392"}
      %img{:alt => "Nevermind", :src => "/images/placeholder.gif"}/
      %span Nevermind
  %li
    %a{:href => "/Store/Details/390"}
      %img{:alt => "The Best Of Men At Work", :src => "/images/placeholder.gif"}/
      %span The Best Of Men At Work
  %li
    %a{:href => "/Store/Details/389"}
      %img{:alt => "Misplaced Childhood", :src => "/images/placeholder.gif"}/
      %span Misplaced Childhood
  %li
    %a{:href => "/Store/Details/388"}
      %img{:alt => "Greatest Hits", :src => "/images/placeholder.gif"}/
      %span Greatest Hits
  %li
    %a{:href => "/Store/Details/387"}
      %img{:alt => "Let There Be Rock", :src => "/images/placeholder.gif"}/
      %span Let There Be Rock

