%img{:src => "/images/god_save_http_it_aint_no_human_being.png", :title => "Sid's passed out... he'd know where your page is...", :width => 404}
%p
  %i
    "You'll find that empty vessels make the most sound."
